@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* "Roboto" */
/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(149, 245, 93) ;
    margin: 1rem;
    
}
html{
    font-size: "Roboto" , sans-serif;
}
.wrapper-container{
    background-color: #ebeae9;
}
nav{
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
    padding:20px ;
    margin-top: 5rem;
    
}

ul{
    margin-left:5rem ;
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
nav .burger {
    cursor: pointer;
}
nav .burger span{
    height: 5px;
    border: 2px solid black;
    background: #000000;
    margin: 2px;
   
}

/* Header Start */

header{
  margin: 6rem;  
  margin-bottom: 10rem;
}
header .main-headings{
    width: 50%;
    font-size: 3rem;
    font-weight: 600;
}
header .primary-headings{
    line-height: 30px;
    width: 50%;
    margin-top: 3rem;
    font-size: 1.5rem;

}
.bg-green{
background: rgb(149, 245, 93);
color: #fff;
padding: 2px 10px;
font-weight: bold;
}

/* Main Start */
main{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
main .img{
    width: 40%;
    margin: 1rem;
}

/* Section Start */

.section-three{
    margin: 11rem 6rem;
}
.section-three .main-headings{
    width: 50%;
    text-transform: uppercase;
    margin: 2rem;
    font-size: 3rem;
}
.section-three .primary-headings{
    width: 50%;
    margin: 0 2rem;
    font-size: 1.1rem;
}
.section-three .elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}
.section-three .elements img{
    width: 400px;
    height: 500px;
    margin: 10px;
}
.section-three .elements .element {
    text-align: center;
}
.section-three .elements h1{
    background: rgb(149, 245, 93);
    padding: 2px 10px;
    text-align: center;
}

/* Footer Start */

footer{
    background-color:rgb(149, 245, 93) ;
    padding: 3rem;
    height: 50vh;
    display: flex;
    justify-content: space-around;
}
footer .logo p{
    width: 50%;
}
footer .other{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:960px) {
    header .primary-headings{
        width: 100%;
    }
    .section-three .primary-headings{
        width: 100%;
    }
    footer .logo p{
        width: 80%;
    }
}